@font-face {
  font-family: "Manrope VF";
  src: url(/assets/fonts/Manrope[wght].woff2) format("woff2-variations");
  font-style: normal;
  font-variation-ligatures: normal;
}

body {
  font-family: "Manrope VF", Manrope, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

h1,
h2,
h3 {
  line-height: 1.1em;
}

h1 {
  font-size: 3em;
  font-variation-settings: 'wght' 800;
  letter-spacing: -.058em;
}

h2 {
  font-size: 2em;
  font-variation-settings: 'wght' 800;
  letter-spacing: -.058em;
}

h3 {
  font-size: 1.4em;
  font-variation-settings: 'wght' 600;
  letter-spacing: -.035em;
}

