---
layout: layouts/base.liquid
---

<h1>Notes</h1>
<a href="/notes/0">Notes</a>


{% edge %}
The content inside of the `edge` shortcode is generated on the Edge.

<pre>
{{ eleventy | json }}
</pre>
{% endedge %}
