---
layout: layouts/base.liquid
permalink: /notes/search/index.html
---


{% edge %}

<h1>{{filteredNotes.results.length}} notes containing "{{ filteredNotes.filter }}" </h1>
{{ filteredNotes.results | json }}
{% endedge %}
