// @import '_includes/scss/fonts.scss';
// @import '_includes/scss/variables.scss';
// @import '_includes/scss/mixins.scss';
// @import '_includes/scss/utils.scss';





.social-post {
  margin:1em; 
  padding: 2em;
  background-color: #f3f3f3;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  

  .main {
    padding-top:0.75rem;
    flex-grow: 1;
    background-color: inherit;
  }


  a:link,
  a:visited {
    color: #2c4dba;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
    text-decoration-color: #96a3d4;
    word-wrap: break-word;
  }

  a:hover,
  a:focus {
    color: #3355cc;
    text-decoration: underline;
  }

  a.avatar:link,
  a.avatar:visited,
  a.avatar:hover,
  a.avatar:focus {
    text-decoration: none;
  }

  .meta {
    display: inline-block;
    color: #777;
    padding-top:0.75rem;

    a:link,
    a:visited {
      color: inherit;
      text-decoration: underline;
      text-decoration-style: solid;
      text-underline-offset: 4px;
      text-decoration-color: #ccc;
    }

    .author-name {
      color: #000;
      font-weight: bold;
    }

  }

  .permalinks {
    list-style: none;
    margin:3em 0 1em;
    padding-top:1em;
    text-align: right;
    color: #aaa;
    border-top: solid 1px #ccc;

    li {
      display: inline-block;
      padding: 0 0.3em;
    }

    li:last-child {
      padding-right:0;
    }
  }

  .avatar img {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;    
    margin-right: 0.5rem;
    vertical-align: middle;
  }

  a.author-handle:link,
  a.author-handle:visited {
    font-weight: bold;
    color: #111;
  }

  .content {
    margin:2em 0 1em;
  }

  .media img {
    width:100%;
  }

}


.social-post:hover {
  background-color: #eee;
}

nav ul {
  list-style: none;

  li {
    display: inline;
    
    &::after {
      content: " | ";
      color: #ccc;
    }
  }

  li:last-child:after {
    content: "";
  }
}
